.beams-wrapper.global-beam-wrapper{
    .beam.footer-contactsection {
        max-width: $samll-beam-size;
    }
}
.footer-contactsection {
    position: relative;
    .section-header {
        padding-bottom: 60px;
    }
    &::before{
        content:" ";
        display:block;
        position: absolute;
        bottom:0;
        left: $beam-gutter-size/2;
        width: calc(100% - #{$beam-gutter-size});
        border-top: $bg-border-2;
    }
    margin-bottom: 60px;
}
.footer-content {
    .footer-nav-section {
        .h4 {
            margin: 0;
        }
    }
}
.footer-nav-section {
    ul {
        list-style: none;
        padding-left: 0;
        li{
            a {
                display: block;
                padding: 10px 0;
                color: $main-1;
                &:hover {
                    color: $main-3;
                }
            }
        }
    }
}
.footer-details {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    text-align: right;
    .footer-lang {
        list-style: none;
        padding-left: 0;
        margin:0 0 40px 0;
        display: flex;
        flex-flow: row;
        li {
            margin-left: 20px;
            &:first-child {
                margin-left: 0px;
            }
        }
    }
    .footer-contact {        
        margin:0 0 35px 0;       
        display: flex;
        flex-flow: row;
        align-items: center;
            a {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                margin-left: 30px;
                color: $main-1;
                img {
                    padding-right: 10px;
                }
                &:first-child {
                    margin-left: 0px;
                }
            }
    }
    .footer-info {
        p {
            margin: 0;
        }
    }
}

@media (max-width:950px) {
    .footer-content.beam.b-size-2 {
        justify-content: flex-start;
        flex-basis: 100%;
        .footer-nav.b-size-1 {
            flex-basis: 100%;
            .footer-nav-section {
                // text-align: center;
                // flex-basis: 30%;


            }
            margin-bottom: 50px;
        }
        .footer-details.b-size-1 {
            flex-basis: 100%;
            align-items: flex-start;
            .footer-info {
                text-align: left;
            }
        }
    }
}

@media (max-width:450px) {
    .footer-content.beam.b-size-2 {
        .footer-nav.b-size-1 {
            margin-bottom: 50px;
            .footer-nav-section {
                flex-basis: 100%;
            }
        }
        .footer-details.b-size-1 {
            
            .footer-lang {
                flex-flow: column;
                margin-bottom: 40px;
                li { 
                    margin-left: 0;
                    margin-bottom: 10px;
                }
            }
            .footer-contact {
                flex-flow: column;
                align-items: flex-start;
                margin-bottom: 40px;
                a { 
                    margin-left: 0;
                    margin-bottom: 10px;
                }
            }
            .footer-info {
            }
        }
    }
}