.service-header {
    text-align: center;
}

//APP
.app-feature {
    padding-top: 60px;
    padding-bottom: 80px;
}
.app-advantage {
    text-align: center;
    margin-top: 40px;
    .click-arrow {
        margin-top: 30px;
    }
}