.service-header {
    text-align: center;
}

//APP
.app-feature {
    padding-top: 60px;
    padding-bottom: 80px;
    .app-advantage {
        text-align: center;
        margin-top: 40px;
        .click-arrow {
            margin-top: 30px;
        }
    }
}
@media (max-width: 860px) {
    .app-feature {
        .app-feature-list {
            .beam-item {
                flex-basis: 100%;
                margin-bottom: 30px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
@media (max-width: 660px) {
    .app-feature {
        padding-top: 60px;
        padding-bottom: 80px;
        .app-advantage.beam-item {
            flex-basis: 100%;
        }
    }
}

.app-technologies {

}
@media (max-width: 860px) {
    .app-technologies {
        .technologiy-item-wrapper {
            margin-bottom: 60px;
            &:last-child {
                margin-bottom: 0;
            }
            &.beam-item {
                flex-basis: 100%;
            }
            .technology-item {
                align-items: center;
                text-align: center;
            }
        }
    }
}

//E-COMMERCE
.e-commerce-feature-small-list {
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
    >* {
        z-index: 1;
    }
    &::before {
        z-index: 0;
        content: "";
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;        
        top:0;
        left: 0;
        background-image: url(/assets/img/background-chart.svg);
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: bottom; 
    }
    .e-commerce-advantage {
        text-align: center;
        margin-top: 0px;
        .click-arrow {
            margin-top: 30px;
        }
    }
    .brands {
        width: 100%;
        display: flex;
        flex-flow: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 50px;
        margin-bottom: 50px;
        max-width: 1800px;
        .logo {
            padding: 0 30px;
            margin-bottom: 40px;
            mix-blend-mode: luminosity;
            background-color: rgba($color: #FAFAFA, $alpha: 1);
            opacity: 0.3;
            transition: $slow;
            img {
                mix-blend-mode: luminosity;
            }
            &:hover {
                opacity: 1;
                background-color: rgba($color: #FAFAFA, $alpha: 0);
            }
        }
    }
}
@media (max-width: 860px) {
    .e-commerce-feature-small-list {
        .e-commerce-feature-list {
            .b-size-1 {
                flex-basis: 100%;
            }
        }
    }
}
@media (max-width: 660px) {
    .e-commerce-feature-small-list {
        padding-top: 100px;
        padding-bottom: 80px;
        .e-commerce-advantage.beam-item {
            flex-basis: 100%;
        }
    }
}

.e-commerce-feature {
    // padding-top: 60px;
    // padding-bottom: 80px;
    .section-header-horizontal {
        margin-bottom: 40px;
    }
}
@media (max-width: 860px) {
    .e-commerce-feature {
        .e-commerce-feature-list {
            .beam-item {
                flex-basis: 100%;
                margin-bottom: 30px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.e-commerce-technologies {
}
@media (max-width: 860px) {
    .e-commerce-technologies {
        .technologiy-item-wrapper {
            margin-bottom: 60px;
            &:last-child {
                margin-bottom: 0;
            }
            &.beam-item {
                flex-basis: 100%;
            }
            .technology-item {
                align-items: center;
                text-align: center;
            }
        }
    }
}

// UX & UI
.ux-ui-feature {
    padding-top: 60px;
    padding-bottom: 80px;
    .ux-ui-feature-list {
        .feature-item {
            margin-top: 120px;
        }
    }
    .ux-ui-advantage {
        text-align: center;
        margin-top: 40px;
        .click-arrow {
            margin-top: 30px;
        }
    }
}
@media (max-width: 860px) {
    .ux-ui-feature {
        .ux-ui-feature-list {
            .beam-item {
                flex-basis: 100%;
                margin-bottom: 30px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
@media (max-width: 660px) {
    .ux-ui-feature {
        padding-top: 60px;
        padding-bottom: 80px;
        .ux-ui-advantage.beam-item {
            flex-basis: 100%;
        }
    }
}

.ux-ui-technologies {

}
@media (max-width: 860px) {
    .ux-ui-technologies {
        .technologiy-item-wrapper {
            margin-bottom: 60px;
            &:last-child {
                margin-bottom: 0;
            }
            &.beam-item {
                flex-basis: 100%;
            }
            .technology-item {
                align-items: center;
                text-align: center;
            }
        }
    }
}


// BRANDING
.branding-feature {
    padding-top: 30px;
    padding-bottom: 80px;
    .branding-feature-list {
        .feature-item {
            margin-top: 120px;
        }
    }
    .branding-advantage {
        text-align: center;
        margin-top: 40px;
        .click-arrow {
            margin-top: 30px;
        }
    }
}
@media (max-width: 860px) {
    .branding-feature {
        .branding-feature-list {
            .beam-item {
                flex-basis: 100%;
                margin-bottom: 30px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
@media (max-width: 660px) {
    .branding-feature {
        padding-top: 60px;
        padding-bottom: 80px;
        .branding-advantage.beam-item {
            flex-basis: 100%;
        }
    }
}

.branding-technologies {

}
@media (max-width: 860px) {
    .branding-technologies {
        .technologiy-item-wrapper {
            margin-bottom: 60px;
            &:last-child {
                margin-bottom: 0;
            }
            &.beam-item {
                flex-basis: 100%;
            }
            .technology-item {
                align-items: center;
                text-align: center;
            }
        }
    }
}