{% assign all_pages = site.pages  %}
{% assign all_posts = site.posts  %}
{% assign all_casestudies = site.casestudies  %}
{% assign all_services = site.services  %}
{% assign all = all_pages | concat: all_posts | concat: all_casestudies | concat: all_services %}

<footer class="beams-wrapper global-beam-wrapper beam-background section-beam">
  {% if page.show_contact_in_footer %}
  <div class="beam  footer-contactsection">
    <div class="beam-item">
      <div class="section-header">
        <div class="head">
            <div class="title">
                <p class="h4 uppercase">{{site.data.global.footer.contact_section.title}}</p>
                {%if site.data.global.footer.contact_section.icon%}
                <div class="icon icon-bg icon-bg-sm">
                    <img src="{{site.data.global.footer.contact_section.icon}}" alt="{{site.data.global.footer.contact_section.title}}">
                </div>
                {%endif%}
            </div>
        </div>
        {%if site.data.global.footer.contact_section.content %}
        <div class="section-intro">                                 
            <p>{{site.data.global.footer.contact_section.content}}</p>
        </div> 
        <a class="btn" href="{{site.data.global.footer.contact_section.link}}">{{site.data.global.footer.contact_section.cta}}</a>
        {%endif%} 
      </div>
    </div>
  </div>
  {%endif%}
  <div class="beam b-size-2 footer-content">
    <nav class="beam-item  b-size-1 footer-nav">
      <div class="beam b-size-{{site.data.menus.footer_menu.size}}">
      {% assign footer_menu = site.data.menus.footer_menu %}
      {% for item in footer_menu %}
        <div class="beam-item  b-size-1 footer-nav-section">
          <p class="h4">{{item.title}}</p>
          <ul>
            {% assign menu_items =  item.pages %}
            {% for item  in menu_items %}
              {% assign menu_item = all | where: "path", item  %}
              {% for item in menu_item %}
                <li><a href="{{item.url}}">{{item.top_line.menu_title}}</a></li>    
              {% endfor %}
            {%endfor%}
          </ul>
        </div>
      {%endfor%}
    </div>     
  </nav> 
  <div class="beam-item  b-size-1 footer-details">
    <ul class="footer-lang">
      {% assign language_version =  site.data.global.footer.other_version %}
      {% for item in language_version %}
      {% if item.name and item.lang and item.flag and item.link %}
        <li><a class="btn btn-white btn-lefticon" href="{{item.link}}"><img src="{{item.flag}}" alt="{{item.lang}}">{{item.name}}</a></li>
      {% endif %}
      {% endfor %}
    </ul>
    <div class="footer-contact">
      <a href="tel:{{site.data.global.footer.phone}}" class="pb"><img src="/assets/img/icon-sm-phone-gray.svg" alt=""> {{site.data.global.footer.phone}}</a>      
      <a href="mailto:{{site.data.global.footer.mail}}" class="pb"><img src="/assets/img/icon-sm-email-gray.svg" alt=""> {{site.data.global.footer.email}}</a>
    </div>
    <div class="footer-info">
      <p class="p2">{{site.data.global.footer.company}}</p>
      <p class="p2">{{site.data.global.footer.copyrights}}</p>
    </div>
  </div>
</footer>

<script>  
  const throttle = (func, limit) => {
      let inThrottle;
      return function() {
          const args = arguments;
          const context = this;
          if (!inThrottle) {
              func.apply(context, args);
              inThrottle = true;
              setTimeout(() => inThrottle = false, limit);
          }
      }
  };

  const  topLine = document.querySelector("#topLine"),
  mobileMenu = document.querySelector("#mobileMenu"),
  stickyElement = document.querySelector(".sticky-element");
  let lastScrollTop = 0;
  window.addEventListener("scroll", throttle(function(){ 
      var st = window.pageYOffset ;
      if (st > lastScrollTop){
          topLine.classList.add("invisible");
          // stickyElement.classList.remove("sticky-element-scroll-up");
      } else {
          topLine.classList.remove("invisible");
          // stickyElement.classList.add("sticky-element-scroll-up");
      }
      if (st > 50) {
          topLine.classList.add("bg");
          mobileMenu.classList.add("bg");
      } else {
          topLine.classList.remove("bg");
          mobileMenu.classList.remove("bg");
          // stickyElement.classList.remove("sticky-element-scroll-up");
      }
      lastScrollTop = st;
  }, 30));
    
  const  mobileMenuBtn = document.querySelector("#mobileMenuBtn"),
  mobileMenuCtn = document.querySelector("#mobileMenu");

  mobileMenuBtn.addEventListener("click", function(e) {
    mobileMenuCtn.classList.toggle("open");
      e.stopPropagation();
  }, false);

  document.addEventListener("click", function() {
    mobileMenuCtn.classList.remove("open");
  }, false);
</script>

<script type="text/javascript" src="/assets/js/sticky-sidebar.js"></script>
<script type="text/javascript">

document.addEventListener('DOMContentLoaded', (event) => {
    if (document.querySelector('.sticky-element')) {
    var sidebar = new StickySidebar('.sticky-rail', {
        innerWrapperSelector: '.sticky-element',
        topSpacing: 30,
        // bottomSpacing: 30
    });
  }
})

</script>