<div class="beams-wrapper global-beam-wrapper beam-background">
  <div class="beam">
    <div class="beam-item">
      Stopka
    </div>
  </div>
</div>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{site.analyticsvarificationnumber}}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{site.analyticsvarificationnumber}}');
</script>