<div class="beams-wrapper global-beam-wrapper top-line">
  <div class="beam">
    <div class="beam-item">
      <header class="top-line-content">
        <a href="/" class="logo">
          <img src="/assets/img/h-logo.svg" alt="{{site.data.global.title}}">
        </a>
        <nav class="main-nav">
          <ul>
          {% assign visibility_pages = site.pages  | where: "visibility_in_menu", true | sort: "position_in_menu" %}
          {% for item in visibility_pages %}
          {% if page.url == item.url %}
            <li class="active"><a href="{{item.url}}">{{item.title}}</a></li>         
            {% else %}
            <li><a href="{{item.url}}">{{item.title}}</a></li>     
            {% endif %}             
          {% endfor %}
          </ul>
        </nav>
        {% assign cta_pages = site.pages  | where: "cta_in_menu", true %}
        {% for item in cta_pages %}
        <a href="{{item.url}}" class="btn btn-sm">{{item.cta_text_in_menu}}</a>               
        {% endfor %}
      </header>
    </div>
  </div>
</div>