.posts-listing {
    padding-top: 60px;
    padding-bottom: calc(100px -  #{$beam-gutter-size});
    .beam {
        justify-content: flex-start;
    }
    .img-box {
        border-radius: 5px 5px 0 0;
    }
}
@media (max-width:650px) {
    .posts-listing {
        .beam>.b-size-1 {
            flex-basis: 100%;
        }
    }
}