.top-line {
    position: fixed;
    top:0;
    left: 0;
    z-index: 999;
    width: 100%;
    transition: $slow;
    .top-line-content {
        transition: $slow;
        height: 90px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
    }
    .logo {
        display: flex;
        align-items: center;
        transition: $normal;
        padding: 10px 0;
        &:active {
            transform: scale(0.9)
        }
    }
    .main-nav {
        display: flex;
        align-items: center;
        ul {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                transition: $normal;
                padding: 0 20px 0 20px;
                &.active {
                    a {
                        &::after {
                            width: 100%;
                        }
                        top:0px;
                    }
                }
                a {
                    position: relative;
                    transition: $normal;
                    padding: 25px 0 25px 0;
                    text-decoration: none;
                    font-family: 'Ubuntu', sans-serif;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 23px;
                    letter-spacing: 0.02em;
                    color: $main-2;                
                    top:0px;                
                    &::after {
                        transition: 0.2s;
                        content: "";
                        display: block;
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        height: 2px;
                        width: 0%;
                        background-color: $main-3;
                    }
                    &:hover {
                        top:-4px;
                        &::after {
                            width: 100%;
                        }
                    }
                }
                &:active {
                    transform: scale(0.9)
                }
            }
        }
    }
    .cta-section {
        a {
            margin-left: 10px;
        }
    }
    .burger-button {
        display: none;
        position: relative;
        padding: 20px;
        right: -$beam-gutter-size/2;
    }
    &.invisible {
        top: -130px;
    }
    &.bg {
        box-shadow: $main-shadow;
        background-color: $bg-0;
        .top-line-content {
            height: 70px;
        }
    }
}
@media (max-width:1000px) {
    .top-line {
        .main-nav {
            display: none;
        }
        .cta-section {
            display: none;
        }
        .burger-button {
            display: block;
        }
    }
}

.mobile-menu {
    position: fixed;
    height: 100%;
    width: 300px;
    background-color: $bg-0;
    z-index: 1001;
    top:0;
    right: -360px;
    box-shadow: $main-shadow;
    transition: $slow;
    &.open {        
        right: 0px;
    }
    // display: none;
    .mobile-menu-head {
        // position: absolute;
        width: 300px;
        top:0;
        right:0;
        padding: 0 $beam-gutter-size;
        transition: $slow;
        height: 90px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        border-bottom: $bg-border-1;      
        .title {
            margin: 0;
        }  
    }
    .mobile-menu-content {
        height: calc(100% - 90px);
        // margin-top: 90px;
        overflow-y: scroll;        
        .main-nav {
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                li {
                    a {
                        padding: 14px $beam-gutter-size;
                        display: block;
                        border-bottom: $bg-border-1;
                        text-decoration: none;
                        font-family: 'Ubuntu', sans-serif;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 23px;
                        letter-spacing: 0.02em;
                        color: $main-2;     
                        text-align:left;              
                    }
                }
            }
        }
        .cta-section {
            a {
                display: block;
                border-radius: 0;
                padding: 14px $beam-gutter-size;
                height: auto;
                border-bottom: $bg-border-1;
                text-decoration: none;
                font-family: 'Ubuntu', sans-serif;
                font-weight: 600;
                font-size: 16px;
                line-height: 23px;
                letter-spacing: 0.02em;
                color: $bg-0;                  
                text-transform: none;
                box-shadow: none;
                text-align:left;        
                &:active {
                    transform: scale(1);
                }
            }
        }
        .contact-section {
            a {
                display: flex;
                border-radius: 0;
                padding: 14px $beam-gutter-size;
                height: auto;
                border-bottom: $bg-border-1;
                text-decoration: none;
                font-family: 'Montserrat', sans-serif;
                font-weight: normal;
                font-size: 16px;
                line-height: 23px;
                letter-spacing: 0.02em;
                color: $main-1;                  
                text-transform: none;
                img {
                    padding-right: 10px;
                }
            }
        }
    }
    &.bg {        
        .mobile-menu-head {
            height: 70px;
        }
        .mobile-menu-content {
            height: calc(100% - 70px);
        }
    }
}