---
---

//Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:wght@400;600&family=Ubuntu:wght@700&display=swap&subset=latin-ext');

// Colors
$bg-0: #FFFFFF;
$bg-1: #F9F9F9;
$bg-2: #F7F5F7; 
$bg-3: #E0DAE3;
$bg-4: #C5BACC;
$bg-gradient-0: linear-gradient(180deg, #FFFFFF 0%, #F9F9F9 100%);
$main-1: #2A1A33;
$main-2: #4B2661;
$main-3: #8644AD;
$main-4: #B75DED;
$negative-1: #B82929;
$positive-1: #2C970A;

//Document size
$beam-gutter-size: 40px;
$beam-size: 1160px;
$samll-beam-size: 960px;

//Borders
$bg-border-1: 2px solid $bg-1;
$bg-border-2: 2px solid $bg-2;
$bg-border-3: 2px solid $bg-3;

//Shadows
$main-shadow-lg: 0px 15px 60px rgba(42, 26, 51, 0.1);
$main-shadow: 0px 15px 30px rgba(42, 26, 51, 0.1);
$main-shadow-sm: 0px 5px 15px rgba(42, 26, 51, 0.2);

//transitions time
$slow: 0.4s;
$normal: 0.2s;
$fast: 0.1s;

//Main elements
*,
 ::before,
 ::after {
    box-sizing: border-box;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0 auto;    
    color: $main-1;    
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
legend {
    padding: 0;
    display: block;
  }
  fieldset {
    border: 0;
    padding: 0 0 0 0;
    margin: 0;
    min-width: 0;
  }
  body:not(:-moz-handler-blocked) fieldset {    
    display: block;
  }

//Typo
h1, .h1, h2, .h2, h3, .h3, h4, .h4 {    
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    margin-top: 30px;
    padding-top: 20px;
    margin-bottom: 30px;
    letter-spacing: 0.02em;
    color: $main-2;
    strong {
        color: $main-3;
    }
}
p, .p1, .p2, .p3 {
    margin-top: 30px;
    margin-bottom: 30px;
}
p, .p1 {
    font-size: 17px;
    line-height: 29px;
}
.p2 {
    font-size: 15px;
    line-height: 26px;
}
.p3 {
    font-size: 13px;
    line-height: 23px;
}
.pb {
    font-size: 19px;
    line-height: 29px;
}
h1, .h1 {
    font-size: 41px;
    line-height: 52px;
}
h2, .h2 {
    font-size: 32px;
    line-height: 43px;
}
h3, .h3 {
    font-size: 25px;
    line-height: 36px;
}
h4, .h4 {
    font-size: 20px;
    line-height: 29px;
}
@media (max-width:1000px) {
    h1, .h1 {
        font-size: 32px;
        line-height: 45px;
    }
    h2, .h2 {
        font-size: 28px;
        line-height: 40px;
    }
    h3, .h3 {
        font-size: 24px;
        line-height: 35px;
    }
}
.uppercase {
    text-transform: uppercase;
}
a {
    color: $main-3;
    transition: $normal;
    .arrow-more {        
        transition: $normal;
    }
    &:hover {
        color: $main-4;
        .arrow-more {
            transform: translateX(10px);
        }
    }
}
ul, ol {    
    font-size: 17px;
    line-height: 29px;
    li {
        padding-bottom: 10px;
        &:last-child {
            padding-bottom: 0;
        }
    } 
}
.list {
    list-style: none;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 30px;    
    li {
        position: relative;
        &::before {
            content: " ";
            display: block;
            position: absolute;
            height: 6px;
            width: 6px;
            top:13px;
            left:-30px;
            background-image: url(img/icon-list.svg);
        }
    }
    &.list-positive {        
        li {
            &::before {
                height: 8px;
                width: 10px;
                background-image: url(img/icon-list-positive.svg);

            }
        }
    }
    &.list-negative {        
        li {
            &::before {
                height: 8px;
                width: 8px;
                background-image: url(img/icon-list-negative.svg);

            }
        }
    }
}
.distinction {
    padding-left: 30px;
    position: relative;
    margin: 30px 0;
    &::before {
        content: " ";
        display: block;
        position: absolute;
        height: 100%;
        width: 2px;
        top:0px;
        left:0px;
        background-color: $bg-3;
    }
    &.distinction-positive {
        &::before {
            background-color: $positive-1;
        }
    }
    &.distinction-negative {
        &::before {
            background-color: $negative-1;
        }
    }
    .h4 {
        margin-top: 0;
        padding-top: 0;
        margin-bottom: 10px;
    }
    p {
        margin: 0;
    }
}
.faq {
    &.distinction {        
        padding-left: 0px;
        &::before { 
            display: none;
        }
    }
}

//DESIGN ELEMENTS

// Background for icons
.icon-bg {
    background-color: $bg-0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow: $main-shadow;
    height: 90px;
    min-height: 90px;
    width: 90px;
    min-width: 90px;
    border-radius: 100%;
    position: relative;
    &::before {
        z-index: 0;
        position: absolute;
        top:50%;
        left:50%;
        content: " ";
        display: block;
        height: 210px;
        width: 210px;
        background-color: $bg-0;
        opacity: 1;
        border-radius: 100%;
        transform: translateX(-50%) translateY(-50%) scale(0);
        animation-name: icon-bg;
        animation-duration: 2s;
        animation-delay: .1s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-out;
    }
    &::after {        
        z-index: 2;
        position: absolute;
        top:50%;
        left:50%;
        transform: translateX(-50%) translateY(-50%);
        content: " ";
        display: block;
        height: 210px;
        width: 210px;
        background-image: url(/assets/img/icon-bg-circles.svg);
        background-size: cover;
    }
    img{
        position: relative;
        z-index: 1;
    }
    &.icon-bg-sm {
        height: 50px;
        min-height: 50px;
        width: 50px;
        min-width: 50px;
        &::after {
            height: 170px;
            width: 170px;
            background-image: url(/assets/img/icon-bg-circles-sm.svg);
        }
        &::before {
            height: 170px;
            width: 170px;
        }
    }
}
@keyframes icon-bg {
    0% {transform: translateX(-50%) translateY(-50%) scale(0); opacity: 1;}
    100%  {transform: translateX(-50%) translateY(-50%) scale(1); opacity: 0;}
}

//Buttons 
.btn {
    //  height: 40px;
     padding: 10px 30px;
     background-color: $main-2;
     color: $bg-1;
     display: inline-flex;
     align-items: center;
     font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 30px;
    box-shadow: $main-shadow;
    transition: $normal;
    text-align: center;
    &:hover {
        background-color: $main-3;
        color: $bg-0;
    }
    &:active {
        transform: scale(0.9);
        box-shadow: $main-shadow-sm;
    }
    &.btn-sm {
        // height: 32px;        
        padding: 8px 30px;
        border-radius: 32px;
        font-size: 14px;
    }
    &.btn-white {
        background-color: $bg-0;
        color: $main-2;
        text-transform: none;
        font-weight: normal;
        font-family: 'Montserrat', sans-serif;
    }
    &.btn-lefticon {
        img {
            padding-right: 10px;
        }
    }
    &.btn-righticon {
        img {
            padding-left: 10px;
        }
    }
}

//Click arrow
.click-arrow {
    transform: translateY(-50%);
    animation-name: click-arrow;
    animation-duration: 2s;
    animation-delay: .1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}
@keyframes click-arrow {
    0% {transform:  translateY(-50%)}
    50%  {transform: translateY(50%)}
    100%  {transform: translateY(-50%)}
}

//IMG ratio boxes
.img-box {
    position: relative;
    overflow: hidden;
    .img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translateX(-50%) translateY(-50%);
        transition: 0.2s;
    }
    &.img-ratio-16-9 {
        position: relative;
        width: 100%;
        padding-top: 56.25%;
    }
    &.img-ratio-16-6 {
        position: relative;
        width: 100%;
        padding-top: 35%;
    }
}

//Table of content
.table-of-content {
    padding-left: 30px;
    border-left: $bg-border-2;
    // padding: 30px;
    // background-color:  $bg-1;
    margin-top: 50px;
    .title {
        font-family: 'Ubuntu', sans-serif;
        display: block;
        font-weight: 600;
        margin-top: 0px;
        padding-top: 0px;
        margin-bottom: 30px;
        letter-spacing: 0.02em;
        color: $main-2;
        font-size: 20px;
        line-height: 29px;
        text-transform: uppercase;
    }
    ul {
        // font-size: 15px;
        list-style: none;
        padding-left: 0;
        .toc-h2 {
            ul {
                padding-top: 10px;
            }
        }
        .toc-h3 {
            padding-left: 30px;
        }
    }
}

//Process list
.process-list {
    list-style: none;
    padding: 0;
    margin:0;
    li {
        padding-bottom: 0;
        &:first-child {
            .process-item {
                margin-top: 0;
            }
        }
        &:last-child {
            .process-item {
                margin-bottom: 0;
            }
        }
    }
}

//Document Structure Jet-grid
.beams-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    // overflow-y: hidden;
    &.global-beam-wrapper {
        .beam {
            max-width: $beam-size;
        }
    }
}
.beam-item>.beam {
    margin-left: -($beam-gutter-size/2);
    --beam-gutter-size: #{$beam-gutter-size};
    max-width: $beam-size;
    width: calc(var(--beam-gutter-size) + 100%);
}
.beam {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: calc(100%);
    &.b-size-6 {
        >.b-size-1 {
            flex-basis: 16.66%;
        }
        >.b-size-2 {
            flex-basis: 33.33%;
        }
        >.b-size-3 {
            flex-basis: 50%;
        }
        >.b-size-4 {
            flex-basis: 66.66%;
        }
        >.b-size-5 {
            flex-basis: 83.33%;
        }
        >.b-size-6 {
            flex-basis: 100%;
        }
    }
    &.b-size-5 {
        >.b-size-1 {
            flex-basis: 20%;
        }
        >.b-size-2 {
            flex-basis: 40%;
        }
        >.b-size-3 {
            flex-basis: 60%;
        }
        >.b-size-4 {
            flex-basis: 80%;
        }
        >.b-size-5 {
            flex-basis: 100%;
        }
    }
    &.b-size-4 {
        >.b-size-1 {
            flex-basis: 25%;
        }
        >.b-size-2 {
            flex-basis: 50%;
        }
        >.b-size-3 {
            flex-basis: 75%;
        }
        >.b-size-4 {
            flex-basis: 100%;
        }
    }
    &.b-size-3 {
        >.b-size-1 {
            flex-basis: 33.33%;
        }
        >.b-size-2 {
            flex-basis: 66.66%;
        }
        >.b-size-3 {
            flex-basis: 100%;
        }
    }
    &.b-size-2 {
        >.b-size-1 {
            flex-basis: 50%;
        }
        >.b-size-2 {
            flex-basis: 100%;
        }
    }
    .beam-item {
        padding-left: $beam-gutter-size/2;
        padding-right: $beam-gutter-size/2;
        width: 100%;
    }
}

// Adds for document structure
.small-beam-wrapper {
    .beam {
        max-width: $samll-beam-size;
    }
}
.beam-background {
    background: $bg-gradient-0 ;
}
.section-beam {
    padding-top: 100px;
    padding-bottom: 100px;
}
.cta-beam {
    position: relative;
    z-index: 99;
    .beam-item {
        position: relative;
        a {
            position: absolute;
            top:-20px;
            right:$beam-gutter-size/2;
        }
    }
    &.cta-beam-center {
        .beam-item {
            a {
                right:50%;
                transform: translateX(50%);
                &:active {
                    transform: translateX(50%) scale(0.9);
                }
            }
        }
    }
}
.header-beam {
    padding-bottom: 30px;
}
.overflow-beam {
    overflow: hidden;
}
.section-header {
    padding-bottom: 40px;
    position: relative;
    .head {        
        display: flex;
        flex-flow: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        .title {
            margin-bottom: 30px;
            .h4 {
                margin: 0;
                padding:0;
            }
            .icon {
                position: absolute;
                top:-10px;
                left:  -100px;
            }
        }
        .link {
            padding-top: 5px;
            min-width: 250px;
            text-align: right;
        }
    }
    .section-intro {
        *:first-child {
            margin-top: 0;
        }
    }
}
.section-header-horizontal {
    position: relative;
    margin-bottom: 100px;
    &::before {
        content: "";
        display: block;
        background-color: $bg-2;
        width: 2px;
        height: 100%;
        position: absolute;
        top:0;
        left: calc(50% -1px);
    }
    .title {
        margin: 0;
        padding: 0;
    }
    .content {
        margin: 0;
        padding: 0;
    }
}
.post-beam {
    .post-content {
        *:first-child {
            margin-top:0;
            padding-top: 0;
        }
        img {
            width: 100%;
            border-radius: 5px;
            box-shadow: $main-shadow;
        }
        figure {
            margin: 30px 0;
            box-shadow: $main-shadow;
            border-radius: 5px;
            img {
                margin: 0;
                display: block;
                border-radius: 5px 5px 0 0;
                box-shadow: none;
            }
            figcaption {
                display: block;
                background-color: $bg-0;
                padding: 10px;
                border-radius: 0 0 5px 5px;
            }
        }
        .title {
            margin-top: 0;
            padding-top: 0;
        }
    }
    .post-toc {        
        .table-of-content {
            margin-top: 0;
        }
    }
}
.futured-posts-beam {
    padding-bottom: calc(100px -  #{$beam-gutter-size});
}
@media (max-width:1200px) {
    .section-header {
        .head {        
            .title {
                .icon {
                    top: -125px;
                    left: 0px;
                }
            }
        }
    }
}
@media (max-width: 1000px) {
    .post-beam {
        .beam-item.post-content {
            flex-basis: 100%;
            order:2;
        }
        .beam-item.post-toc {
            flex-basis: 100%;
            order:1;
            margin-bottom: 60px;
        }
    }
}
@media (max-width: 860px) {
    .section-header-horizontal {
        flex-direction: column;
        align-items: center;
        &::before {
            display: none;
        }
        .title {
            margin-bottom: 20px;
            text-align: center;
        }
        .content {
            text-align: center;
        }
    }
    .futured-posts-beam {
        .futured-posts-listing {
            .b-size-1 {
                flex-basis: 100%;
            }
        }
    }
}
@media (max-width:660px) {
    .section-header {
        .head {  
            flex-flow: column;
            .title {
                margin-bottom: 20px;
            }
            .link {
                text-align: left;
                margin-bottom: 20px;
            }
        }
    }
}

//FORMS
.big-checkboxes {
    justify-content: flex-start;
    margin-bottom: 60px;
}
.checkboxes-item {
    background-color: $bg-1;
    width: 100%;
    border-radius: 5px;
    box-shadow: $main-shadow;
    transition: $fast;
    margin-bottom: 40px;
    cursor: pointer;
    &:active {
        transform: scale(0.95);
    }
    &:hover {
        label {
            .checkbox {
                path {
                    opacity: 0.2;
                }
            }
        }
    }
    label {
        min-height: 95px;
        padding: 25px;
        display: block;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: $normal;
        position: relative;
        cursor: pointer;
        .border {
            content: "";
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            border: 2px solid $main-2 ;
            border-radius: 5px;
            opacity: 0;
            transition: $normal;
        }
        .content {
            display: flex;
            align-items: center;
            img {
                display: inline-flex;
                margin-right: 20px;
            }
            p {
                margin: 0;
                padding: 0;
                display: inline-flex;
            }
        }
        .checkbox {
            path {
                transition: $normal;
                opacity: 0;
            }
        }
    }
    input {
        display: none;
    }
    input:checked  {    
        & ~ .checkbox {
            path {
                opacity: 1;
            }
        }
        &  ~ .border {
            opacity: 1;
        }
    }
}

// Imports
@import "parts.scss";
@import "top-line.scss";
@import "footer.scss";
@import "index.scss";
@import "services.scss";
@import "service.scss";
@import "blog.scss";
@import "post.scss";
@import "contact.scss";