{% assign pages = site.pages %}
{% assign posts = site.posts %}
{% assign casestudies = site.casestudies %}
{% assign services = site.services %}
{% assign technologies = site.technologies %}
{% assign all = blog | concat: pages | concat: posts | concat: casestudies | concat: services | concat: technologies   %}

<nav class="breadcrumbs">
    <ol>
        {% assign index = site.pages | where: "page_type", "index" %}
        {% for item in index %}
            <li><a href="{{item.url}}">{{item.top_line.menu_title}}</a></li>
        {% endfor %}
        {% if  page.page_type == "post" %} 
            {% assign blog = site.pages | where: "page_type", "blog" %}
            {% for item in blog %}
                <li><a href="{{item.url}}">{{item.top_line.menu_title}}</a></li>
            {% endfor %}
        {% elsif  page.page_type == "service" %}  
            {% assign services = site.pages | where: "page_type", "services" %}
            {% for item in services %}
                <li><a href="{{item.url}}">{{item.top_line.menu_title}}</a></li>
            {% endfor %}
        {% elsif  page.page_type == "technology" %}  
            {% assign technology = site.pages | where: "page_type", "technologies" %}
            {% for item in technology %}
                <li><a href="{{item.url}}">{{item.top_line.menu_title}}</a></li>
            {% endfor %}
        {% elsif  page.page_type == "landing-page" %}  
            {% for parent in page.page_parents %}
                {% assign service = all | where: "path", parent  %}
                {% for item in service %}
                    <li><a href="{{item.url}}">{{item.top_line.menu_title}}</a></li>
                {% endfor %}    
            {% endfor %}
        {% elsif  page.page_type == "casestudy" %}  
            {% assign casestudies = site.pages | where: "page_type", "casestudies" %}
            {% for item in casestudies %}
                <li><a href="{{item.url}}">{{item.top_line.menu_title}}</a></li>
            {% endfor %}
        {% endif %}
        {% if  page.page_type == "post" %} 
            <li><a href="{{page.url}}">{{page.title}}</a></li>
        {% else %}
            <li><a href="{{page.url}}">{{page.top_line.menu_title}}</a></li>
        {% endif %}
    </ol>
</nav>