<div class="beam b-size-2 casestudy-beam">
    <div class="casestudy-bg">
        <div class="circle-bg" style="background-color: #{{ include.casestudy.colors.main }}"></div> 
    </div> 
    <div class="beam-item b-size-1  casestudy-img" >  
        {% include parts/casestudy-mockup-mobile.html mockup=include.casestudy%}  
        {% include parts/casestudy-mockup-desktop.html mockup=include.casestudy%}  
    </div>
    <div class="beam-item b-size-1  casestudy-content" >
        <p class="h3">{{include.casestudy.intro.title}}</p>
        <p>"{{include.casestudy.customer_opinion.quotation_small}}"</p>        
        <div class="person">
            <div class="photo">
                <img src="{{include.casestudy.customer_opinion.photo}}" alt="{{include.casestudy.customer_opinion.person}}">
            </div>
            <div class="desc">
                <div class="name h4">{{include.casestudy.customer_opinion.person}}</div>
                <p class="p3">{{include.casestudy.customer_opinion.position}} @ {{include.casestudy.company}}</p>
            </div>
        </div>
        {% if include.casestudy.hide_links == false %}
        <a href="{{include.casestudy.url}}">{{include.casestudy.cta}} <svg class="arrow-more" width="20" height="10" viewBox="0 0 20 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 5H19M19 5L15 1M19 5L15 9" stroke="#8644AD" stroke-linecap="round" stroke-linejoin="round"/></svg></a>
        {% endif %}
    </div>    
</div>