{% if site.data.global.gtagmanagervarificationnumber %}        
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{site.data.global.gtagmanagervarificationnumber}}" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
{% endif %}

  <!-- dataLayer push -->
  {% if page.segmenting_tags[0] %}
  <script>
    dataLayer.push({
      segmenting_tags: {
        {% for item in page.segmenting_tags  %}
          'segmenting_tag_{{ forloop.index }}': '{{item}}',
        {% endfor %}
      }
    });
    </script>
  {% endif %}
  <!-- End dataLayer push -->

 {% if site.data.global.facebookmessenger_id %}
        <!-- Load Facebook SDK for JavaScript -->
        <div id="fb-root"></div>
        <script>
        window.fbAsyncInit = function() {
        FB.init({
        xfbml            : true,
        version          : 'v8.0'
        });
        };

        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/{{site.data.global.facebookmessenger_lang}}/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <!-- Your Chat Plugin code -->
        <div class="fb-customerchat"
        attribution=setup_tool
        page_id="{{site.data.global.facebookmessenger_id}}"
        theme_color="{{site.data.global.facebookmessenger_theme_color}}"
        logged_in_greeting="{{site.data.global.facebookmessenger_logged_in_greeting}}"
        logged_out_greeting="{{site.data.global.facebookmessenger_logged_out_greeting}}" >
        </div>
{% endif %}