<article class="post-item">
    <a href="{{include.post.url}}">
        <div class="img-box img-ratio-16-9">
            <img src="{{include.post.main_photo}}" alt="{{include.post.main_photo_desc}}" class="img">
        </div>
        <div class="content">
            <footer class="more">
                <img src="{{include.post.author.photo}}" alt="{{include.post.author.name}}">
                <span class="author p3">{{include.post.author.name}}</span>
                <span class="date p3">{{ include.post.date  | date: '%d-%m-%Y'}} </span>
            </footer>
            <header>
                <{{include.h}} class="h4 title">{{include.post.title}}</{{include.h}}>
            </header>
            <p class="p2 intro">{{include.post.small_intro}}</p>
        </div>
    </a>
</article>