<nav class="main-nav">
    <ul>
      {% assign header_menu = site.data.menus.header_menu %}
      {% for item in header_menu %}
        {% assign menu_items = all | where: "path", item  %}
        {% for item in menu_items %}
          {% if page.url == item.url %}
          <li class="active"><a href="{{item.url}}">{{item.top_line.menu_title}}</a></li>        
          {% else %}
          <li><a href="{{item.url}}">{{item.top_line.menu_title}}</a></li>     
          {% endif %} 
        {%endfor%}
      {%endfor%}
    </ul>
  </nav>
  <div class="cta-section">          
    {% assign header_cta = site.data.menus.header_cta %}
    {% for item in header_cta %}
      {% assign cta_items = all | where: "path", item  %}
      {% for item in cta_items %}
      <a href="{{item.url}}" class="btn btn-sm">{{item.top_line.cta_title}}</a>               
      {% endfor %}
    {%endfor%}
</div>