<!DOCTYPE html>
<html lang="{{ page.lang | default: site.data.global.lang }}">
    <head>
        {% include head.html %}
    </head>
    <body>    
        {% include parts/gtagmanager.html %}
        {% include top-line.html %}      
        {% include parts/breadcrumbs.html %}          
        <header class="beams-wrapper  small-beam-wrapper beam-background section-beam header-beam">
            <div class="beam">
                <div class="beam-item">
                    <h1>{{page.header.title}}</h1>
                    <p>{{page.header.intro}}</p>       
                </div>
            </div>
        </header>                            
        <section class="beams-wrapper small-beam-wrapper beam-background section-beam posts-listing">
            <div class="beam b-size-2">
                {% for item in site.posts %}
                <div class="beam-item b-size-1">
                    {% include parts/post-item.html  post=item h="h2"%} 
                </div>      
                {% endfor %}
            </div>
        </section>    
        {% include footer.html %}      
    </body>
</html>