<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang }}">
    <head>
        {% include head.html %}
    </head>
    <body>    
        {% include parts/gtagmanager.html %}
        {% include top-line.html %} 
        {% include parts/breadcrumbs.html %}               
        <header class="beams-wrapper small-beam-wrapper beam-background section-beam header-beam contact-header">
            <div class="beam">
                <div class="beam-item">
                    <h1>{{page.header.title}}</h1>
                    <p>{{page.header.intro}}</p>
                </div>
            </div>
        </header>
        <form id= "contactForm" name="contact" method="POST" data-netlify="true"  data-netlify-recaptcha="true" class="beams-wrapper small-beam-wrapper beam-background section-beam section-contact-form" onsubmit="return submitEvent()">
            <div class="beam contact-form">               
                <div class="beam-item contact-inputs">                        
                    <div class="section-header">
                        <div class="head">
                            <div class="title">
                                <h2 class="h4 uppercase">{{page.contact_form.header.title}}</h2>
                                {%if page.contact_form.header.icon%}
                                <div class="icon icon-bg icon-bg-sm">
                                    <img src="{{page.contact_form.header.icon}}" alt="{{page.contact_form.header.title}}">
                                </div>
                                {%endif%}
                            </div>
                        </div>         
                        {%if page.contact_form.header.content %}
                        <div class="section-intro">                                 
                            <p>{{page.contact_form.header.content}}</p>
                        </div>                      
                        {%endif%}
                    </div>       
                    <div class="beam b-size-2 contact-form-input ">
                        <div class="beam-item b-size-2 name">
                            <div class="inp">
                                <p class="label">{{page.contact_form.inputs.name.title}}</p>
                                <input class="" type="text" name="{{page.contact_form.inputs.name.title}}" placeholder="{{page.contact_form.inputs.name.placeholder}}">
                                <div class="line alert"></div>
                            </div>
                        </div>
                        <div class="beam-item b-size-2 message">
                            <div class="inp">
                                <p class="label">{{page.contact_form.inputs.message.title}}</p>
                                <textarea class="" type="text" name="{{page.contact_form.inputs.message.title}}" placeholder="{{page.contact_form.inputs.message.placeholder}}"></textarea>
                                <div class="line alert"></div>
                            </div>
                        </div>      
                        <div class="beam-item b-size-1 email">
                            <div class="inp">
                                <p class="label">{{page.contact_form.inputs.email.title}}</p>
                                <input class="" id="email" type="text" name="{{page.contact_form.inputs.email.title}}" placeholder="{{page.contact_form.inputs.email.placeholder}}">
                                <div class="line alert"></div>
                            </div>
                        </div>
                        <div class="beam-item b-size-1 phone">
                            <div class="inp">
                                <p class="label">{{page.contact_form.inputs.phone.title}}</p>
                                <input class="" type="text" name="{{page.contact_form.inputs.phone.title}}" placeholder="{{page.contact_form.inputs.phone.placeholder}}">
                                <div class="line alert"></div>
                            </div>
                        </div>                  
                        <div class="beam-item b-size-2 consent">
                            <label class="checkbox">
                                <input type="checkbox" id="consent" class="" name="{{page.contact_form.consent}}" value="{{site.data.global.translations.yess}}">                                
                                <svg class="check" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect x="1" y="1" width="24" height="24" rx="2" stroke="#E0DAE3" stroke-width="2"/>
                                    <path d="M5 12.0542L10.9658 18L22 7" stroke="#4B2661" stroke-width="2"/>
                                </svg>
                                <p class="content p3">{{page.contact_form.consent}}</p>
                            </label>
                        </div>
                    </div>
                </div>          
                <fieldset class=" beam-item product-type ">      
                    <div class="section-header">
                        <div class="head">
                            <div class="title">
                                <h2 class="h4 uppercase"><legend>{{page.project_type.header.title}}</legend></h2>
                                {%if page.project_type.header.icon%}
                                <div class="icon icon-bg icon-bg-sm">
                                    <img src="{{page.project_type.header.icon}}" alt="{{page.project_type.header.title}}">
                                </div>
                                {%endif%}
                            </div>
                        </div>         
                        {%if page.project_type.header.content %}
                        <div class="section-intro">                                 
                            <p>{{page.project_type.header.content}}</p>
                        </div>                      
                        {%endif%}
                    </div>      
                    <div class="beam b-size-2 big-checkboxes">      
                            {%assign project_types  = page.project_type.types %}
                            {%for item in project_types %}
                            <div class="beam-item b-size-1">
                                <div class="checkboxes-item">       
                                    <label class="label">
                                        <div class="content">
                                            <img src="{{item.icon}}" alt="{{item.title}}">
                                            <p class="h4">{{item.title}}</p>
                                        </div>            
                                        <input type="checkbox" name="{{item.title}}" value="{{site.data.global.translations.yess}}">
                                        <svg class="check" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <rect x="1" y="1" width="24" height="24" rx="2" stroke="#E0DAE3" stroke-width="2"/>
                                            <path d="M5 12.0542L10.9658 18L22 7" stroke="#4B2661" stroke-width="2"/>
                                        </svg>     
                                        <div class="border"></div>                         
                                    </label>                           
                                </div> 
                            </div>
                            {%endfor%}              
                    </div>                               
                </fieldset>                   
                <fieldset class="beam-item product-range">      
                    <div class="section-header">
                        <div class="head">
                            <div class="title">
                                <legend><h2 class="h4 uppercase">{{page.project_range.header.title}}</h2></legend>
                                {%if page.project_range.header.icon%}
                                <div class="icon icon-bg icon-bg-sm">
                                    <img src="{{page.project_range.header.icon}}" alt="{{page.project_range.header.title}}">
                                </div>
                                {%endif%}
                            </div>
                        </div>         
                        {%if page.project_range.header.content %}
                        <div class="section-intro">                                 
                            <p>{{page.project_range.header.content}}</p>
                        </div>                      
                        {%endif%}
                    </div>      
                    <div class="beam b-size-2 big-checkboxes">
                        {%assign project_ranges  = page.project_range.types %}
                        {%for item in project_ranges %}
                        <div class="beam-item b-size-1">
                            <div class="checkboxes-item">       
                                <label class="label">
                                    <div class="content">
                                        <img src="{{item.icon}}" alt="{{item.title}}">
                                        <p class="h4">{{item.title}}</p>
                                    </div>            
                                    <input type="checkbox" name="{{item.title}}" value="{{site.data.global.translations.yess}}">
                                    <svg class="check" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect x="1" y="1" width="24" height="24" rx="2" stroke="#E0DAE3" stroke-width="2"/>
                                        <path d="M5 12.0542L10.9658 18L22 7" stroke="#4B2661" stroke-width="2"/>
                                    </svg>     
                                    <div class="border"></div>                         
                                </label>                           
                            </div> 
                        </div>
                        {%endfor%}                                  
                    </div>                                                        
                </fieldset>     
                <div class="beam-item contact-submit">
                    <div id="recaptcha" data-netlify-recaptcha="true" class="submit-recaptcha"></div>
                    <button type="submit" id ="submit" class="btn submit-btn">Wyślij formularz</button>
                </div>
            </div>
        </form>    
        <script>

            function validateEmail( ) {
                var submit =  document.getElementById('submit');
                var email = document.getElementById('email');
                var emailAlert = email.nextElementSibling;
                var mailFormat = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
                var add = document.createTextNode("Uzupełnij adres e-mail");
                var error = document.createTextNode("Niepoprawny adres e-mail");
                
                if (email.value == "") {
                    email.classList.add("danger");
                    emailAlert.innerHTML = "";
                    emailAlert.appendChild(add);
                }
                else if (!mailFormat.test(email.value)) {
                    email.classList.add("danger");
                    emailAlert.innerHTML = "";
                    emailAlert.appendChild(error);
                }
                else {
                    email.classList.remove("danger");
                    emailAlert.innerHTML = "";
                }
            };         

            function validateConsent( ) {                
                var checkbox =  document.getElementById('consent');
                var checkboxValue =  checkbox.checked;
                if (checkboxValue) {
                    checkbox.classList.remove("danger");
                } else {                    
                    checkbox.classList.add("danger");
                }
            };

            
            function validateRecaptcha( ) {
                var recaptcha =  document.getElementById('recaptcha');
                if(grecaptcha.getResponse().length == 0){ 
                    recaptcha.classList.add("danger");              
                } else {                    
                    recaptcha.classList.remove("danger");
                }
            } ;     

            var checkbox =  document.getElementById('consent'); 
            var email = document.getElementById('email');

            email.addEventListener("keyup", function(e) {
                validateEmail( )   
            }, false);       

            checkbox.addEventListener("change", function(e) {
                validateConsent( )
            }, false);            

            function submitEvent() {
                validateRecaptcha( )
                validateConsent( )
                validateEmail( )           
                if (email.classList.contains('danger') ) {
                    event.preventDefault();
                    event.stopPropagation();
                }                
                if ( checkbox.classList.contains('danger') ) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                if(grecaptcha.getResponse().length == 0){                  
                    event.preventDefault();
                    event.stopPropagation();
                }
            }

        </script>
        {% include footer.html %}       
    </body>
</html>