<!DOCTYPE html>
<html lang="{{ page.lang | default: site.data.global.lang }}">
    <head>
        {% include head.html %}
        <!--Dane struklturalne dla każdego layoutu-->
    </head>
    <body>    
        {% include top-line.html %} 
        {% include parts/breadcrumbs.html %}               
        <header class="beams-wrapper small-beam-wrapper beam-background section-beam header-beam">
            <div class="beam">
                <div class="beam-item">
                    <h1>{{page.header.title}}</h1>
                    <p>{{page.header.intro}}</p>
                </div>
            </div>
        </header>
        <section class="beams-wrapper small-beam-wrapper beam-background section-beam contact-form">
            <div class="beam">
                <div class="beam-item"> 
                    <form name="contact" method="POST" data-netlify="true">                        
                        <fieldset>      
                        <div class="section-header">
                            <div class="head">
                                <div class="title">
                                    <legend><h2 class="h4 uppercase">{{page.project_type.header.title}}</h2></legend>  
                                    {%if page.project_type.header.icon%}
                                    <div class="icon icon-bg icon-bg-sm">
                                        <img src="{{page.project_type.header.icon}}" alt="{{page.project_type.header.title}}">
                                    </div>
                                    {%endif%}
                                </div>
                            </div>         
                            {%if page.project_type.header.content %}
                            <div class="section-intro">                                 
                                <p>{{page.project_type.header.content}}</p>
                            </div>                      
                            {%endif%}
                        </div>      
                        <div class="beam b-size-2 big-checkboxes">      
                                {%assign project_types  = page.project_type.types %}
                                {%for item in project_types %}
                                <div class="beam-item b-size-1">
                                    <div class="checkboxes-item">       
                                        <label class="label" for="{{item.id}}">
                                            <div class="content">
                                                <img src="{{item.icon}}" alt="">
                                                <p class="h4">{{item.title}}</p>
                                            </div>
                                            <svg class="checkbox" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <rect x="1" y="1" width="24" height="24" rx="2" stroke="#E0DAE3" stroke-width="2"/>
                                                <path d="M5 12.0542L10.9658 18L22 7" stroke="#4B2661" stroke-width="2"/>
                                            </svg>                                                
                                        </label>    
                                        <input type="checkbox" id="{{item.id}}" name="{{page.project_type.title}}" value="{{item.title}}">                         
                                    </div> 
                                </div>
                                {%endfor%}              
                        </div>                               
                        </fieldset> 
                        <fieldset>
                            <legend>JAKIEGO TYPU PROJEKT CHCESZ ZREALIZOWAĆ?</legend>
                            <p>
                              <label>
                                <input type="checkbox" name="aplikacja_name" value="aplikacja_value"> aplikacja
                              </label>
                            </p>
                            <p>
                              <label>
                                <input type="checkbox" name="sklep_name" value="Sklep_value"> Sklep
                              </label>
                            </p>
                          </fieldset>      
                        <fieldset>       
                        <div class="section-header">
                            <div class="head">
                                <div class="title">
                                    <legend><h2 class="h4 uppercase">{{page.project_range.header.title}}</h2></legend>
                                    {%if page.project_range.header.icon%}
                                    <div class="icon icon-bg icon-bg-sm">
                                        <img src="{{page.project_range.header.icon}}" alt="{{page.project_range.header.title}}">
                                    </div>
                                    {%endif%}
                                </div>
                            </div>         
                            {%if page.project_range.header.content %}
                            <div class="section-intro">                                 
                                <p>{{page.project_range.header.content}}</p>
                            </div>                      
                            {%endif%}
                        </div>      
                        <div class="beam b-size-2 big-checkboxes">
                                {%assign project_range  = page.project_range.types %}
                                {%for item in project_range %}
                                <div class="beam-item b-size-1">
                                    <div class="checkboxes-item">       
                                        <input type="checkbox" id="{{item.id}}" name="{{page.project_range.title}}" value="{{item.title}}">
                                        <label class="label" for="{{item.id}}">
                                            <div class="content">
                                                <img src="{{item.icon}}" alt="">
                                                <p class="h4">{{item.title}}</p>
                                            </div>
                                            <svg class="checkbox" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <rect x="1" y="1" width="24" height="24" rx="2" stroke="#E0DAE3" stroke-width="2"/>
                                                <path d="M5 12.0542L10.9658 18L22 7" stroke="#4B2661" stroke-width="2"/>
                                            </svg>                                                
                                        </label>                             
                                    </div> 
                                </div>
                                {%endfor%}                             
                        </div>                                                        
                        </fieldset>                
                        <div class="section-header">
                            <div class="head">
                                <div class="title">
                                    <h2 class="h4 uppercase">{{page.form.header.title}}</h2>
                                    {%if page.form.header.icon%}
                                    <div class="icon icon-bg icon-bg-sm">
                                        <img src="{{page.form.header.icon}}" alt="{{page.form.header.title}}">
                                    </div>
                                    {%endif%}
                                </div>
                            </div>         
                            {%if page.form.header.content %}
                            <div class="section-intro">                                 
                                <p>{{page.form.header.content}}</p>
                            </div>                      
                            {%endif%}
                        </div>   
                        <button type="submit" class="btn">Send</button>
                    </form>
                </div>
            </div>
        </section>    
        {% include footer.html %}       
    </body>
</html>