<!DOCTYPE html>
<html lang="{{ page.lang | default: site.data.global.lang }}">
    <head>
        {% include head.html %}
    </head>
    <body>    
        {% include top-line.html %} 
        {% include parts/breadcrumbs.html %}               
        <header class="beams-wrapper global-beam-wrapper beam-background section-beam header-beam">
            <div class="beam">
                <div class="beam-item">
                    <h1>{{page.header.title}}</h1>
                    <p>{{page.header.intro}}</p>
                </div>
            </div>
        </header>            
        {% include footer.html %}       
    </body>
</html>