<!DOCTYPE html>
<html lang="{{ page.lang | default: site.data.global.lang }}">
    <head>
        {% include head.html %}
        <!--Dane struklturalne dla każdego layoutu-->
    </head>
    <body>    
        {% include top-line.html %}     
        {% include parts/breadcrumbs.html %}      
        <header class="beams-wrapper small-beam-wrapper beam-background section-beam services-header">
            <div class="beam">
                <div class="beam-item">
                    <h1>{{page.header.title}}</h1>
                    <p>{{page.header.intro}}</p>
                    <nav class="services-nav">
                        <ul>
                            {% assign services = page.services %}
                            {% for item  in services %}
                                {% assign service = site.services | where: "path", item.service  %}
                                {% for item in service %}
                                <li><a href="#{{item.path | remove: "_services/" | remove: ".md"}}">{{item.top_line.menu_title}}</a></li> 
                                {%endfor%}
                            {%endfor%}
                        </ul>
                    </nav>
                </div>
            </div>
        </header>           
        {% assign services = page.services %}
        {% for item  in services %}
        <section class="beams-wrapper global-beam-wrapper beam-background section-beam casestudy-beam-wrapper-{{item.side}} services-list" >
            {% assign service = site.services | where: "path", item.service  %}
            {% for item in service %}    
                <div class="beam b-size-4 service-beam">
                    <div class="beam-item b-size-3" >
                        <div class="icon icon-bg">
                            <img src="{{item.intro.icon}}" alt="{{item.top_line.menu_title}}">
                        </div>
                        <h2 id="{{item.path | remove: "_services/" | remove: ".md"}}" class="service-beam-title">{{item.intro.title}}</h2>
                        <p>{{item.intro.content}}</p>
                        <a href="{{item.url}}" class="btn">{{item.intro.cta_title}}</a>  
                    </div>
                </div>             
            {% endfor %}                    
            {% assign casestudy = site.casestudies | where: "path", item.casestudy  %}
            {% for item in casestudy %}
                {% include parts/casestudy-beam.html  casestudy=item%} 
            {% endfor %}
        </section> 
        {%endfor%}
        {% include footer.html %}       
    </body>
</html>